In [3]:
#4
2**10 #2の10乗

1024

In [1]:
1+1　#１と１を足した数を生成

2

In [2]:
#5
5/2　#５を２で割った数を生成

2.5

In [4]:
5//2 #５を２で1回割った後の商の小数を切り捨てた

2

In [5]:
#6
'あいうえお'  #あいうえおの評価結果を生成

'あいうえお'

In [10]:
#7,8
import random 
data = ['goo','choki','pa'] 
data_choice = random.choice(data) 
print(data_choice) #上はじゃんけんで出す手をランダムで生成している。

choki

In [13]:
#11
apple=100　　　　　#appleという文字に100を格納した
orange=60
apple*3+orange*2

420

In [20]:
orange=120
apple=100
apple*3+orange*2

540

In [14]:
#12
0.1+0.1+0.1

0.30000000000000004

In [3]:
#13
1/10 + 1/10 + 1/10

0.30000000000000004

In [4]:
#14
5%2 #5を2で割った余り

1

In [5]:
5**2 #5の2乗

25

In [11]:
#15
4*2*(1+1) #丸括弧内の計算の方が乗算より優先されている4

16

In [10]:
4/2/(1+1)　#丸括弧内の計算の方が除算より優先されている

1.0

In [12]:
#16
1>0.4

True

In [13]:
1<0.4

False

In [15]:
#17
1<=1

True

In [16]:
#17
1>=1

True

In [17]:
#18
1==1

True

In [18]:
#18
2!=2

False

In [21]:
#19
i=3
i+=2

In [22]:
i

5

In [ ]:
i=3
i-=2

In [24]:
i

1

In [26]:
i=3
i*=2
i

6

In [27]:
i=3
i/=2
i

1.5

In [28]:
i=3
i%=2
i

1

In [29]:
i=3
i**=2
i

9

In [56]:
#20
('tomorrow') #lenは、（）内の文字列の文字数を数えて表示する

8

In [57]:
len('abcde') #上と同じ。

5

In [61]:
#21
len('[0,1,2]') #lenはlengthのこと。括弧の中の文字数を数える
                #lenはメソッドではない。

7

In [33]:
#22
'abc'+'xyz'　#'abc'と'xyz'を組合わせて表示した

'abcxyz'

In [60]:
#23
x=3.5　　　　　　　　　　　#xという変数に3.5を格納し、定義した
'Python'+str(x)　　　　　#Pythonという文字列とstr(x)に格納されている文字列を組みあわせて表示した

'Python3.5'

In [62]:
#24
list(range(10)) #0から順番に数えて10個数字を表示した

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
list(range(1, 11))  #（引数が複数のときはカンマで区切る。）
#1から順番に数えて11個数字を表示した

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
#25
list(range(2,22)) #2から順番に数えて22個数字を表示した

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [15]:
#26
address = 'Tokyo,Japan' #’Tokyo,Japan'という名前をaddressという場所に格納した
address.split(',')　　　#addressの中身をsplitによって二つに分けた

['Tokyo', 'Japan']

In [16]:
#27
address='aiueo,kakikukeko'
address.split(',')

['aiueo', 'kakikukeko']

In [17]:
#29
address.index('a') #indexは括弧内の要素がaddressで定義されている文字列の何番目に含まれているかを表示する

0

In [18]:
#30
address.upper() #upperは、文字列を小文字から大文字に変換する
                #upperは、文字列専用のメソッド

'AIUEO,KAKIKUKEKO'

In [19]:
#31
address.capitalize() #capitalizeは、文字列の一番先頭の文字を大文字に変換し、残りの文字列をそのまま表示する

'Aiueo,kakikukeko'

In [20]:
#31
address.casefold() #lowerは、文字列を小文字かするが、’β’のような文字列は変換しない。
                   #casefoldは、'β'のような文字列でも小文字に変換する。

'aiueo,kakikukeko'

In [23]:
#32
'AIUEO,KAKIKUKEKO'.lower() #upperと対になるメソッドlowerは、文字列を小文字に変換する。

'aiueo,kakikukeko'

In [24]:
#33
(0.1).as_integer_ratio() #0.1の内部表現（2進数）が表す厳密な値（有理数）

(3602879701896397, 36028797018963968)

In [26]:
#34
3602879701896397/36028797018963968=0.1000000000000000055511151231257827021181583404541015625
#wolfram/alphaで割った数。

SyntaxError: can't assign to operator (<ipython-input-26-ee207e8a9055>, line 1)

In [27]:
#35
(0.1).hex()　#0.1の内部表現

'0x1.999999999999ap-4'

In [28]:
#36
import math
math.pi #10 進表現
math.pi.hex() #内部表現

'0x1.921fb54442d18p+1'

In [32]:
#37
from datetime import *       #date_bからdate_aを引き算した。（1月1日から1月5日までの日数ー4日間）
date_a = date(2008, 1, 1)　　　
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [35]:
#38
date_a.year #date_aの年を表示した
#.の後に（）がある：何らかの処理をする→メソッド
#.の後に（）がなし：データにアクセスするだけ→属性
#メソッドと属性を合わせたものをオブジェクトと呼ぶ。

2008

In [37]:
#38
date_a.month #date_aの月を表示した

1

In [39]:
#38
date_a.day #date_aの日を表示した

1

In [46]:
#39
birthday=date(1998,1,30) #自分が何日生きたかを表示
today=date.today()
result=today-birthday
print(result)

7047 days, 0:00:00

In [47]:
#40
today.weekday()  #水曜日

2

In [48]:
date_a.weekday() #火曜日

1

In [52]:
#42
a=datetime(1969,7,21,5,17,40)   #1969年7月21日5時17分40秒から1970年8月22日6時18分41秒まで時間がどれくらい経ったかを計算して表示する
b=datetime(1970,8,22,6,18,41)
result=b-a
print(result)

397 days, 1:01:01

In [56]:
#44
datetime.now() #今の年月日時刻を表示

datetime.datetime(2017, 5, 17, 11, 58, 57, 486489)

In [57]:
#44
date.today()　#今日の年月日を表示
#インスタンス無しで使えるメソッドも存在する。

datetime.date(2017, 5, 17)

In [2]:
#45
import datetime
early=datetime.date(2013,1,1)
print(early)　　　　　　　　　#日付を指定して表示

2013-01-01

In [4]:
#46
import datetime
today=datetime.date.today()
print(today)　　　　　　　　　　#今日の日付を表示

2017-06-03

In [14]:
#47
import datetime
today = datetime.date.today()
birthday = datetime.date(1998, 1, 30)
life = today - birthday
print(life.days)                  #初期化メソッドを利用して自分が何日間生きたかを表示

7064